html, body{
	margin:0;
	padding:0;
	font-family: Open Sans,sans-serif;
	height: 100%;
}

html {
	background-color: #2297cd;
	color:white;
	font-family: 
}

html.nab{
	background-color: #C20000;
}

div.main{
	font-size:50px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
  	height: 100%;
}

div.main h1, div.main p{
	margin-left:70px;
	margin-right:70px;
}

div.main h1{
	font-size: 1.4em;
}
div.main p{
	font-size: 0.9em;
}

div.near, div.immediate, div.action1, div.action2, div.action3, div.member-welcome{
	display:none;	
}

div.main.yellow{
	background-color: #FEE123;
	color: black;
}

div.main.red{
	background-color: #DC2F28;
}


div.immediate{
	background-color: #fab617;
}

div.immediate div.button{
	background-color: #d1960b;
}

div.button{
	font-size: 25 px;
	height: 150px;
	line-height: 150px;
	width: 80%;
	background-color: #004160;
	color:white;
	margin: 50px auto;
	padding:10px;
	text-align: center;
	border-radius: 20px
}

html.nab div.button{
	background-color: black;
	color:white;
}




div.top-panel{
	background-color: #f4f4f4;
	color: #444847;
	height:200px;
	width:100%;
	font-size: 60px;
	text-align: center;
	padding-top:150px;
/*	margin-bottom: 200px;
	position: absolute;
	top:0;*/
}

html.nab div.top-panel{
	background-color: #000000;
	color: #ffffff;


div.top-panel p{
	margin-top:150px;
	margin-bottom:150px;
}


div.action1{
	background-color: #77af42;
}

div.action2{
	background-color: #fab617;
}

form input{
	margin-left: 70px;
	width: 80%;
	font-size: 1.25em;
}

input.button{
	margin: 60px;
	padding: 50px;
	background-color: #0d4a69;
	border: none;
	color:white;
	border-radius: 20px
}
